@media (max-width: 576px) {
  .document__content--buttons {
    button {
      font-size: 10px;
      // white-space: nowrap !important;
      // min-width: 50px;
    }
    button:nth-child(2) {
      float: right;
      min-width: 137px;
    }
    button:nth-child(3) {
      font-size: 10px;
      min-width: 137px;

      margin: 10px 0px;
    }
  }
}
