.documents {
  #{&}--TemplatesTable {
    td {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;

      color: #292929;
    }
  }
}

.smallHeading {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2b7ae4;
}
.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  color: #2b7ae4;
}

.template {
  #{&}--form {
    margin: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 65px rgba(43, 122, 228, 0.1);
    border-radius: 7px;
    padding: 20px;
    .labelHeading {
      @extend .smallHeading;
    }
    .blackColor {
      color: #484848;
    }
  }
}

.addField {
  margin: 20px;
  #{&}--heading {
    @extend .smallHeading;
  }
  #{&}--box {
    margin: 5px;
    width: calc(50% - 15px);
    height: 95px;
    border: 2px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;

      color: #616161;
    }
  }
}

#form {
  .boldLabel {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;

    color: #cbcbcb;
  }
  .borderInput {
    border: 2px solid #d7d7d7;
    box-sizing: border-box;
    border-radius: 7px;
    width: 170px;
  }
  .checkboxLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-right: 40px;

    color: #616162;
  }
  h6 {
    margin: 30px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #292929;
  }
  .overviewLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #616162;
  }
  .pricingtable {
    th {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;

      color: #cbcbcb;
    }
    td {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;

      color: #616161;
    }
  }
}

.createNewContract {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 65px rgba(43, 122, 228, 0.1);
  border-radius: 7px;
  #{&}--heading {
    @extend .heading;
    text-align: center;
    margin-top: 30px;
  }
  @extend #form;
}

.purposal {
  #{&}--div {
    background: #ffffff;
    box-shadow: 0px 0px 65px rgba(43, 122, 228, 0.1);
    border-radius: 7px;
    padding: 10px 30px;
    margin: 10px;
    @extend #form;

    .div--header {
      display: flex;
      align-items: center;
      @media (max-width: 576px) {
        flex-direction: column !important;
      }
      .header--heading {
        margin-top: 2rem;
        margin-left: 5rem;
        @media (max-width: 576px) {
          margin-left: 0 !important;

          flex-direction: column !important;
        }
        h1 {
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 31px;
          text-align: center;

          color: #292929;
        }
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 19px;

          color: #616161;
        }
      }
    }
  }
  .addlogoImg {
    margin-top: 41px;

    width: 150px;
    height: 105px;
    border: 2px dashed #dadada;
    box-sizing: border-box;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      text-align: center;

      color: #616161;
    }
  }
}

.aboutus {
  #{&}--addImg {
    width: 150px;
    height: 105px;
    border: 2px dashed #dadada;
    box-sizing: border-box;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      text-align: center;

      color: #616161;
    }
  }
}
