.uploadFile {
  height: 40px !important;
  border: 1px dashed #dadada !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  width: 100% !important;
  min-width: 50% !important;
  max-width: 100% !important;
}
