.userAvatar {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  display: grid;
  grid-template-columns: minmax(10px, 25%) 1fr;
  margin: 10px 0px;
  background: #f0f1f3;
  padding: 10px 5px;
  width: 100%;
  position: relative;

  .userName {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #616162;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .email {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: #c1c1c1;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // background-color: red !important;
  }
  .expandMoreIcon {
    position: absolute;
    top: 3px;
    right: 0;
  }
}
