.upcomingList__content {
  .upcomingListHeader {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;

    color: #292929;
  }
  ul li span {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #2b7ae4;
  }
  ul li p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;

    color: #616162;
  }
}

// span {
//   font-family: Mulish;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 18px;
//   line-height: 23px;
//   /* identical to box height */

//   color: #2b7ae4;
// }
